{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h1 class="text-dark font-weight-bold text-center mt-5">BrainChat</h1>
	<form class="container bg-primary my-5 h-100 p-3 rounded" method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal text-light text-center">Connexion</h1>
		<label for="username" class="my-1 text-light">Email</label>
		<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control my-1" autocomplete="email" required autofocus>
		<label for="password" class="my-1 text-light">Mot de passe</label>
		<input type="password" name="_password" id="password" class="form-control my-1" autocomplete="current-password" required>

		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
				            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				            See https://symfony.com/doc/current/security/remember_me.html
				
				            <div class="checkbox mb-3">
				                <input type="checkbox" name="_remember_me" id="_remember_me">
				                <label for="_remember_me">Remember me</label>
				            </div>
				        #}

		<button class="btn btn-lg btn-info my-3" type="submit">
			Valider
		</button>
	</form>

	<h6 class="mt-5 pt-5 text-center lead">Pas encore inscrit, cliquez
		<a class="btn-link" href="{{ path('app_user_new') }}">ici</a>
	</h6>
{% endblock %}
