{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Brainchat!{% endblock %}

{% block body %}
<div class="container">
<h1>Accueil</h1>
<p>Bienvenue sur Brainchat, le chat intelligent qui vous permet de discuter avec des robots.</p>

<a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary">Voir le profil</a>
<a href="{{ path('app_room_index') }}" class="btn btn-primary">Voir les rooms</a>
</div>
{% endblock %}
