{% extends 'base.html.twig' %}

{% block title %}Liste des invitations{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des invitations</h1>

        {% if invitations is empty %}
            <p>Aucune invitation en attente.</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>De</th>
                        <th>Pour</th>
                        <th>Salon</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invitation in invitations %}
                        <tr>
                            <td>{{ invitation.sender.email }}</td>
                            <td>{{ invitation.recipient.email }}</td>
                            <td>{{ invitation.room.title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}