{% extends 'base.html.twig' %}

{% block title %}Edit ChatMessage{% endblock %}

{% block body %}
    <h1>Edit ChatMessage</h1>

    {{ include('chat_message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chat_message_index') }}">back to list</a>

    {{ include('chat_message/_delete_form.html.twig') }}
{% endblock %}
