{% extends 'base.html.twig' %}

{% block title %}Chat
{% endblock %}

{% block body %}
	<div class="container-fluid mt-4 h-100">
		<div
			class="row">
			{# Sidebar avec la liste des rooms #}
			<nav class="col-md-3 col-lg-2 sidebar shadow-sm h-100">
				<div class="p-4 bg-white">
					<h4 class="mb-4 text-primary border-bottom pb-2">Liste des rooms</h4>
					<ul class="nav nav-pills flex-column gap-2">
						{% for room in rooms %}
							<li class="nav-item">
								<a class="nav-link text-truncate {% if room.id == currentRoom.id %}active{% else %}text-dark hover-primary{% endif %}" href="{{ path('app_chat_show', {'id': room.id}) }}">
									<i class="bi bi-chat-left me-2">
										{{ room.title }}
									</i>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</nav>
			<twig:Chat :form="form" :chatMessage="chatMessage" :currentRoom="currentRoom"/>
		</div>
	</div>
{% endblock %}
