{# _form.html.twig #}
{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    {# Afficher tous les champs sauf le password #}
    {% for field in form %}
        {% if field.vars.name != 'password' %}
            {{ form_row(field) }}
        {% endif %}
    {% endfor %}

    <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-primary">
            {{ button_label|default('Save') }}
        </button>
    </div>
{{ form_end(form, {render_rest: false}) }}
